<header>
  <nav>
    <a [routerLink]="['']">Home</a>
    <a [routerLink]="['about']">About</a>
  </nav>
</header>
<main>
  <!--<h1 class="title">Hello from {{api.title}}!</h1>-->
  <div class="container content">
    <form role="form">
      <h2>Options</h2>
      <div class="checkbox">
        <label>
          <input type="checkbox">Uppercase characters
        </label>
      </div>
    </form>
  </div>


  <!--<h4>Pick a highlight color</h4>
  <div>
    <input type="radio" name="colors" (click)="color = 'lightgreen'">Green
    <input type="radio" name="colors" (click)="color = 'yellow'">Yellow
    <input type="radio" name="colors" (click)="color = 'cyan'">Cyan
  </div>

  <input type="text" [myHighlight]="color" value="{{color}}">
  
  <p [myHighlight]="color">Highlight me!</p>
  <p [myHighlight]="color" [myDefaultColor]="'violet'">Highlight me too!</p>


<div>
    <input type="radio" name="length" (click)="length = 6">6
    <input type="radio" name="length" (click)="length = 8">8
    <input type="radio" name="length" (click)="length = 10">10
  </div>
  
  <input type="text" [passwordGenerator]="" [passwordLength]="length">
  <div>
    value: {{value}}
  </div>
  <div>
    length: {{length}}
  </div>-->


  <router-outlet></router-outlet>
</main>
<footer>
  <a [href]="url">Webpack Angular 2 Starter</a>
</footer>